h1 {
    color: hsl(43, 76%, 56%);
    margin-top: 20%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-image: url(images/4626588390_7259a85c48_o.jpg);
    background-size: cover;
    font-weight: bold;
}
#message-el {
    font-style: italic;
}
button {
    color: #016f32;
    background-color: goldenrod;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
}